.App {
  background-color: $color-light;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9/16
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 30%; //1rem = 4.8
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16
  }
}

body {
  box-sizing: border-box;
}

.notes-list {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.note {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $color-primary;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
}

.note.completed span {
  text-decoration: line-through;
}

.note input[type="checkbox"] {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border-color: 1px solid $color-primary;
}

.note input[type="checkbox"]:checked {
  accent-color: $color-primary;
}
