//colors
$color-primary: #6c63ff;
$color-hover: #534cc2;
$color-light: #f7f7f7;
$color-dark: #252525;

$color-icons: #cdcdcd;
$color-icons-red: #e50000;
$color-menu-hover: #dcdaf9;

$color-crossed: #8d8d8d;

//font
$default-font-size: 1.7rem;
