.add {
  position: absolute;
  bottom: 50px;
  right: 26rem;
  background-color: $color-primary;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 24px;
  padding: 8px 12px;
  cursor: pointer;

  @include respond(big-desktop) {
    right: 80rem;
  }

  @include respond(tab-land) {
    right: 50rem;
  }

  @include respond(tab-port) {
    right: 15rem;
  }

  @include respond(phone) {
    right: 5rem;
  }

  &:hover {
    background-color: $color-hover;
  }
}
