.add {
  position: absolute;
  bottom: 50px;
  right: 26rem;
  background-color: $color-primary;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 30px;
  padding: 6px 11px;

  &:hover {
    background-color: $color-hover;
  }
}
