.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  background-color: $color-light;
  display: none;
  position: absolute;
  right: 462px;
  max-width: 90px;
  float: left;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
  border: 1px solid $color-primary;
  border-radius: 7px;
}

.dropdown-content button {
  color: $color-primary;
  padding: 12px 12px 12px 10px;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #cddaf9;
}

.dropdown:hover .dropdown-content {
  display: block;
}
