.mode {
  background-color: $color-primary;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-left: 15px;
  cursor: pointer;

  @include respond(big-desktop) {
    padding: 8px;
  }

  @include respond(tab-land) {
    padding: 5px;
  }

  @include respond(phone) {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
  }

  button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 17px;
    width: 30px;
    cursor: pointer;
  }

  &:hover {
    background-color: $color-hover;
  }
}

.dark {
  background-color: #252525;
  color: #f7f7f7;

  .input {
    border: 1px solid white;
    color: white;

    &:focus {
      outline: none;
      box-shadow: white 0px 0px 5px;
      transition: 0.5s;
    }
  }

  .App-header {
    color: #f7f7f7;
  }
}

.white {
  background-color: #f7f7f7;
  color: #252525;
}
