.App {
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

.notes-list {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.note {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #6c63ff;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
}

.note.completed span {
  text-decoration: line-through;
}

.note input[type=checkbox] {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border-color: 1px solid #6c63ff;
}

.note input[type=checkbox]:checked {
  accent-color: #6c63ff;
}

.input {
  width: 500px;
  height: 35px;
  border: 1.5px solid #6c63ff;
  background-color: transparent;
  border-radius: 5px;
  margin-right: 20px;
}
.input::placeholder {
  font-size: 16px;
  padding-left: 15px;
  color: #c3c1e5;
}
.input:focus {
  outline: none;
  box-shadow: #6c63ff 0px 0px 5px;
  transition: 0.5s;
}
@media (max-width: 37.5em) {
  .input {
    width: 400px;
    text-align: center;
    margin: 5px 0;
  }
}

.filter {
  background-color: #6c63ff;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  cursor: pointer;
}
.filter:hover {
  background-color: #534cc2;
}
.filter p {
  color: white;
  margin: 10px 0;
}
@media (max-width: 37.5em) {
  .filter {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
  .filter p {
    font-size: 20px;
  }
}

.add {
  position: absolute;
  bottom: 50px;
  right: 26rem;
  background-color: #6c63ff;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 24px;
  padding: 8px 12px;
  cursor: pointer;
}
@media (min-width: 112.5em) {
  .add {
    right: 80rem;
  }
}
@media (max-width: 75em) {
  .add {
    right: 50rem;
  }
}
@media (max-width: 56.25em) {
  .add {
    right: 15rem;
  }
}
@media (max-width: 37.5em) {
  .add {
    right: 5rem;
  }
}
.add:hover {
  background-color: #534cc2;
}

.mode {
  background-color: #6c63ff;
  border-radius: 5px;
  border: none;
  padding: 8.5px;
  margin-left: 15px;
  color: white;
  font-size: 17px;
  width: 40px;
  cursor: pointer;
  text-align: center;
}
@media (min-width: 112.5em) {
  .mode {
    padding: 8px;
  }
}
@media (max-width: 75em) {
  .mode {
    padding: 5px;
  }
}
@media (max-width: 37.5em) {
  .mode {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
  }
}
.mode:hover {
  background-color: #534cc2;
}

.dark {
  background-color: #252525;
  color: #f7f7f7;
}
.dark .input {
  border: 1px solid white;
  color: white;
}
.dark .input:focus {
  outline: none;
  box-shadow: white 0px 0px 5px;
  transition: 0.5s;
}
.dark .App-header {
  color: #f7f7f7;
}

.white {
  background-color: #f7f7f7;
  color: #252525;
}

.show-modal {
  cursor: pointer;
}

.close-modal {
  font-size: 16px;
  color: #6c63ff;
  cursor: pointer;
  border: 1px solid #6c63ff;
  border-radius: 3px;
  background: none;
  margin: 150px 0 15px 0;
  padding: 5px 15px;
}

.modal.dark {
  background-color: #252525;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
}
.modal.dark input {
  color: white;
  border: 1px solid #f7f7f7;
}
.modal.dark input:focus {
  outline: none;
  box-shadow: #f7f7f7 0px 0px 5px;
  transition: 0.5s;
}

.apply {
  font-size: 16x;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  background: #6c63ff;
  border: none;
  margin: 150px 0 15px 0;
  padding: 5px 15px;
}

.modal-h1 {
  font-size: 1.3rem;
  text-align: center;
}

.input-modal {
  width: 100%;
  height: 35px;
  border: 1.5px solid #6c63ff;
  background-color: transparent;
  border-radius: 5px;
  margin-right: 20px;
}
.input-modal::placeholder {
  font-size: 16px;
  padding-left: 15px;
  color: #c3c1e5;
}
.input-modal:focus {
  outline: none;
  box-shadow: #6c63ff 0px 0px 5px;
  transition: 0.5s;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  background-color: white;
  padding: 0 40px;
  border-radius: 20px;
  z-index: 10;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 462px;
  max-width: 90px;
  float: left;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
  border: 1px solid #6c63ff;
  border-radius: 7px;
}

.dropdown-content button {
  color: #6c63ff;
  padding: 12px 12px 12px 10px;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #cddaf9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.empty-state {
  text-align: center;
  margin-top: 50px;
}

.empty-state-image {
  width: 150px;
  height: 150px;
}

.empty-state-text {
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
}

.App-header {
  font-size: 30px;
  color: #252525;
}
@media (min-width: 112.5em) {
  .App-header {
    font-size: 45px;
  }
}
@media (max-width: 75em) {
  .App-header {
    font-size: 30px;
  }
}
@media (max-width: 56.25em) {
  .App-header {
    font-size: 25px;
  }
}
@media (max-width: 37.5em) {
  .App-header {
    font-size: 15px;
  }
}

.content {
  display: flex;
  align-items: center;
}
@media (max-width: 37.5em) {
  .content {
    flex-direction: column;
  }
}

/*# sourceMappingURL=App.css.map */
